.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 30rem;  
  border-radius: 4px;
  background: linear-gradient(180deg, #e781fb, #8e76fa);
  
  label {
    display: block;
    margin-bottom: 0.25rem;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  select {
    display: block;
    min-width: 268px;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    outline-color: #ffffff;
    border-radius: 0.25rem;
    background-color: transparent;
    background-color: #c681fb;
    color: #ffffff;
    font-size: 1rem;
  }
}

.primaryButtons {
  display: flex;
  gap: 3rem;
  
  button {
    display: inline-block;
    min-width: fit-content;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 24px;
    background: linear-gradient(180deg, #4c0dcb 0%, #73d2f8 100%);
    color: white;    
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  
    &:hover, 
    &:focus {
      background: linear-gradient(180deg, #bf48f6 0%, #9b50f2 100%);
      box-shadow: 0 0 4px 2px rgba(255, 200, 60, 0.8);
    }
  }
}