.userInput {
  input {
    min-width: 268px;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    outline-color: #ffffff;
    border-radius: 0.25rem;
    background-color: #c681fb;
    color: #ffffff;
    font-size: 1rem;
  }
}